
<div id="Content@(ViewBag.graphNameTrimmed)" class="MultiGraphContent margin-bottom GraphLevel_@(ViewBag.graphLevel)">


</div>

<script type="text/javascript">
    debugger;
    var campaignId = @(ViewBag.campaignId);
    var categoryValues = '-1';

    $(function() {
        debugger;

        categoryValues =  '@(ViewBag.Categories)';
        LoadBarChart@(ViewBag.graphNameTrimmed)();

    });

    //$.LoadBarChart@(ViewBag.graphNameTrimmed) = function () {
    function LoadBarChart@(ViewBag.graphNameTrimmed)() {
        var UserList@(ViewBag.graphNameTrimmed) = [];
        var StatusList@(ViewBag.graphNameTrimmed) = [];
        var graphLevel = @(ViewBag.graphLevel);
        var colorList = [];


        //$(".pie-overlay@(ViewBag.graphName)").fadeIn();
        $.ajax({
            url: "@Url.Action("BarChartUserWise", "api/Report")",
            type: "GET",
            data: {
                //datelow:  $('#Piedatepickerlowerother').val(),
                //datemax: $('#Piedatepickermaxother').val(),
                datelow: $("#dateRangeother").val().split('To')[0].trim(),
                datemax: $("#dateRangeother").val().split('To')[1].trim(),
                campaignId: campaignId,
                UserId:@(ViewBag.UserId),
                categories:  categoryValues
            },
            async: false,
            success: function (data) {
                data = $.parseJSON(data);
                var statusList = data.AllStatusList;
                var resultlist=[];
                var resultObj;

                var dict = []; // create an empty array
                var dictUserWithCategories = [];



                if(data.Total !=null) {
                    debugger;
                    $.each(data.Total.ListUserWiseData, function (idx, obj) {
                        //New Object

                        var UserCount = new Object();
                        
                        var catKeyVal;//= obj.Name.split("__")[1].split(":");

                        if (obj.Name.indexOf("__Categories")!== -1) {
                            catKeyVal = obj.Name.split("__")[1].split(":");
                            if(catKeyVal[0]=='Categories')
                            {
                                //categoryValues = catKeyVal[1];
                                dictUserWithCategories.push({
                                    UserObj: obj,
                                    UserCategories: catKeyVal[1]
                                });
                            }

                            obj.Name = obj.Name.split("__Categories")[0].trim();
                        }
                        var test = obj.Name +"-"+obj.UserId;
                        UserCount.name = (test);

                        //Add in list
                        UserList@(ViewBag.graphNameTrimmed).push(UserCount.name);
                        var isPresent = false;

                        $.each(obj.ListVmStatusWiseCount, function (idxa, objSub) {

                            isPresent = false;
                            if(dict.length>0)
                            {
                                for(var obj1 in dict)
                                {
                                    if(dict[obj1].name==objSub.StatusString)
                                    {
                                        dict[obj1].data.push(objSub.Count);
                                        isPresent =true;
                                    }
                                }
                                if(!isPresent)
                                {
                                    var obj2 =  {name:objSub.StatusString, data:[]}
                                    obj2.data.push(objSub.Count);
                                    dict.push(obj2);

                                }
                            }
                            else{
                                var obj3 =  {name:objSub.StatusString, data:[]}
                                obj3.data.push(objSub.Count);
                                dict.push(obj3);
                            }
                            /*$.each(obj.statusList,function (idxb,str)
                            {
                                if(str == objSub)
                                {
                                    resultObj = new Object();
                                    resultObj.Status = objSub.StatusString;
                                }
                            });*/
                            //New Object

                        });


                    });

                    if (data.Total.AllStatusColorList != null) {
                        $.each(data.Total.AllStatusColorList, function (idx, obj) {

                            colorList.push(obj);
                        });

                    }


                    // Create the chart
                    Highcharts.setOptions({
                        colors: colorList //['#F86E38', '#85EE66', '#DDDF00', '#24CBE5', '#64E572']
                    });
                    Highcharts.chart('Content@(ViewBag.graphNameTrimmed)', {
                        chart: {
                            type: 'bar',
                            height: $.GetBarChartHeight(dict) // 16:9 ratio
                        },
                        title: {
                            text: '@(ViewBag.graphName)'
                        },
                        xAxis: {
                            //tickInterval: 6,
                            //allowDecimals: false,
                            categories: UserList@(ViewBag.graphNameTrimmed),  //['Apples', 'Oranges', 'Pears', 'Grapes', 'Bananas']
                            labels: {
                                formatter: function () {
                                    var text = this.value,


                                        //formatted = text.length > 100 ? text.substring(0, 100) + '...' : text;

                                        formatted = text.split('-');
                                    //var concatStr = '';
                                    //for (i = 0; i < formatted.length-1; i++) {
                                    //    concatStr = concatStr + formatted[i];
                                    //}
                                    return '<div class="js-ellipse" style="width:150px; overflow:hidden" title="' + text + '">' + text.replace("-"+formatted[formatted.length-1],"" ) + '</div>';
                                },
                                style: {
                                    width: '150px'
                                },
                                useHTML: true
                            }
                        },
                        yAxis: {
                            min: 0,
                            title: {
                                text: 'Status'
                            }
                        },
                        legend: {
                            reversed: true
                        },
                        plotOptions: {
                            series: {
                                stacking: 'normal',
                                cursor: 'pointer',
                                point: {
                                    events: {
                                        click: function () {
                                            debugger;

                                            
                                            var temp = this.category.split('-');
                                            for (var i=0; i <dictUserWithCategories.length; i++) {
                                                //keyVal.UserId = temp[temp.length - 1];
                                                if (dictUserWithCategories[i].UserObj.UserId == temp[temp.length - 1]) {
                                                    //categoryValues = dictUserWithCategories[i].UserObj.UserId;
                                                    categoryValues = dictUserWithCategories[i].UserCategories;
                                                }
                                            }

                                            
                                            clickHandler(campaignId, temp[0], 1, temp[temp.length-1], graphLevel, categoryValues);
                                        }
                                    }
                                }
                            }
                        },
                        exporting: {
                            chartOptions: {
                                plotOptions: {
                                    series: {
                                        dataLabels: {
                                            enabled: true
                                        }
                                    }
                                }
                            }
                        },
                        series: dict
                        /*[{
                        name: 'Pending',
                        data: [5, 3, 4, 7, 2]
                    }, {
                        name: 'Resolve',
                        data: [2, 2, 3, 2, 1]
                    }, {
                        name: 'Solve',
                        data: [3, 4, 4, 2, 5]
                    }]*/
                    });

                    $('html,body').animate({
                        scrollTop: $(".scroll").offset().top
                    }, 1500);
                }
                else
                {
                    

                    //@ViewBag.UserId
                    var from = $("#dateRangeother").val().split('To')[0].trim();
                    var to = $("#dateRangeother").val().split('To')[1].trim();
                    var userId =  @ViewBag.UserId;

                    LoadGridView( from, to, userId, -1, categoryValues);
                }
            }

        });
    }

</script>
