@using PITB.CMS_Common
@using PITB.CMS_Common.Handler.Permission
@using PITB.CMS_Common.Models
@using PITB.CMS_Common.Helper.Extensions;
@using PITB.CMS_Common.Handler.Authentication
@model VmStakeholderComplaintDetail
@{
    var user = AuthenticationHandler.GetCookie();
    Layout = null;
    bool isProfileHidden = (PermissionHandler.IsPermissionAllowedInCampagin(Config.CampaignPermissions.HideProfileInfoFromStakeholderDetail) &&
                            !PermissionHandler.IsPermissionAllowedInUser(Config.Permissions.ShowProfileInfoInStakeholderDetail, user.UserId, user.Role)
                            );
    string a = Request.Url.Authority;

    string stakeholderHierarchy = "N/A";
    if (@Model.dbUserStakeholder != null && @Model.dbUserStakeholder.Hierarchy_Id != null)
    {
        int hierarchyId = (int)@Model.dbUserStakeholder.Hierarchy_Id;
        int hierarchyIdValue = DbComplaint.GetHierarchyIdValueAgainstComplaint(@Model.dbComplaint, @Model.dbUserStakeholder.Hierarchy_Id);
        string hierarchyValueName = Utility.GetHierarchyValueName((Config.Hierarchy)hierarchyId, hierarchyIdValue);
        //int hierarchyIdValue = DbComplaint.GetHierarchyIdValueAgainstComplaint(@Model.dbComplaint);
        //int hierarchyId = -1;
        //if (hierarchyIdValue == -1)
        //{
        //    hierarchyIdValue = 1;
        //    hierarchyId = 1;
        //}
        //else
        //{
        //    hierarchyId = (int)@Model.dbComplaint.Complaint_Computed_Hierarchy_Id;
        //}
        //stakeholderHierarchy = Utility.GetHierarchyValueName((Config.Hierarchy)hierarchyId, hierarchyIdValue) + " (" + ((Config.Hierarchy)hierarchyId).GetDisplayName() + ")";
        stakeholderHierarchy = hierarchyValueName + " (" + ((Config.Hierarchy)hierarchyId).GetDisplayName() + ")";
    }
}


<div id="ComplaintDetail" class=" modal-dialog modal-lg">

    <link rel="stylesheet" type="text/css" href="http://@a/Content/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="http://@a/Content/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://@a/Content/DataTables/css/dataTables.bootstrap.css">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="http://@a/Content/DataTables/css/responsive.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="http://@a/css/crm.css">
    <div class="modal-content">
        <div class="modal-body">

            @Html.HiddenFor(m => m.ComplaintId)
            @Html.HiddenFor(m => m.Compaign_Id)
            @Html.HiddenFor(m => m.Complaint_Category)


            @if (!isProfileHidden)
            {
                <div class="box box-primary" style="box-shadow: none;">
                    <div class="box-header-blue with-border btn-header">

                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Personal Information</h4>
                        <button class="pull-right btn btn-success" style="margin-right: 30px;margin-top: -25px" onclick="PrintReport()">Print</button>
                    </div>
                    <div class="box-body-white" style="margin-top: 5px;">
                        @*<div class="col-md-12">
                                <button class="pull-right btn btn-success"  onclick="PrintReport()">Print</button>
                            </div>*@
                        <div class="form-group col-md-6 col-sm-6">
                            <div class="col-md-6 col-sm-6">
                                <label>Name</label>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                @Html.DisplayFor(m => m.vmPersonlInfo.Person_Name)
                            </div>
                        </div>
                        @if (Model.Compaign_Id != (int)Config.Campaign.FixItLwmc)
                        {
                            <div class="form-group col-md-6 col-sm-6">
                                <div class="col-md-6 col-sm-6">
                                    <label>Father/Husband Name</label>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    @Html.DisplayFor(m => m.vmPersonlInfo.Person_Father_Name)
                                </div>
                            </div>
                        }
                        <div class="form-group col-md-6">
                            <div class="col-md-6">
                                <label>CNIC No</label>
                            </div>
                            <div class="col-md-6">
                                @Html.DisplayFor(m => m.vmPersonlInfo.Cnic_No)
                            </div>
                        </div>
                        @if (Model.Compaign_Id != (int)Config.Campaign.FixItLwmc)
                        {
                            <div class="form-group col-md-6">
                                <div class="col-md-6">
                                    <label>Gender</label>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    @Html.DisplayFor(m => m.vmPersonlInfo.Gender)
                                </div>
                            </div>
                        }
                        <div class="form-group col-md-6">
                            <div class="col-md-6">
                                <label>Contact No</label>
                            </div>
                            <div class="col-md-6">
                                @Html.DisplayFor(m => m.vmPersonlInfo.Mobile_No)
                            </div>
                        </div>
                        @if (Model.Compaign_Id != (int)Config.Campaign.FixItLwmc)
                        {
                            <div class="form-group col-md-6">
                                <div class="col-md-6">
                                    <label>Secondary Contact</label>
                                </div>
                                <div class="col-md-6">
                                    @Html.DisplayFor(m => m.vmPersonlInfo.Secondary_Mobile_No)
                                </div>
                            </div>
                        }
                        @if (Model.Compaign_Id != (int)Config.Campaign.FixItLwmc)
                        {


                            <div class="form-group col-md-6">
                                <div class="col-md-6">
                                    <label>Province</label>
                                </div>
                                <div class="col-md-6">
                                    @Html.DisplayFor(m => m.vmPersonlInfo.Province.Province_Name)
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <div class="col-md-6">
                                    <label>District</label>
                                </div>
                                <div class="col-md-6">
                                    @Html.DisplayFor(m => m.vmPersonlInfo.District.District_Name)
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <div class="col-md-6">
                                    <label>Landline No</label>
                                </div>
                                <div class="col-md-6">
                                    @Html.DisplayFor(m => m.vmPersonlInfo.LandLine_No)
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                <div class="col-md-6">
                                    <label>Person Address</label>
                                </div>
                                <div class="col-md-6">

                                    @Html.DisplayFor(m => m.vmPersonlInfo.Person_Address)
                                </div>
                            </div>
                        }

                        <br style="clear: both;" />

                    </div>
                </div>
            }
            <form action="@Url.Action("OnUpdateComplaint","Complaint")" method="post" class="box box-primary" style="box-shadow:none;">
                <div class="box-header-blue with-border btn-header">
                    @if (isProfileHidden)
                    {
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    }
                    <h4 class="modal-title" style="display:inline">Complaint Information [<span id="complaintId">@Model.complaintIdStr</span>]</h4>
                    @if (!string.IsNullOrEmpty(Model.MappedComplaintIdStr))
                    {
                        <h4 class="model-title" style="display:inline"> - Health CMS ID [<span id="complaintIdMapped">@Model.MappedComplaintIdStr</span>]</h4>
                    }
                </div>
                @if (Model.ListEscalationModel != null && Model.ListEscalationModel.Count > 0)
                {
                    <div class="box-body-white" style="margin-top:5px;">


                        <div class="col-md-12 form-group">
                            <a class="btn btn-default btn-sm " role="button" data-toggle="collapse" href="#FiltersShowEscalation" aria-expanded="true" aria-controls="FiltersShowEscalation">
                                <span class="fa fa-sliders"></span>Show Escalation
                            </a>
                        </div>



                        <div id="FiltersShowEscalation" class="collapsed collapsed in" area-expanded="true">
                            @for (int i = 0; i < Model.ListEscalationModel.Count; i++)
                            {
                                <div class="form-group col-md-6">
                                    <div class="col-md-6">
                                        <label>@Model.ListEscalationModel[i].HierarchyStr</label>
                                    </div>
                                    <div class="col-md-6">
                                        @Html.DisplayFor(m => m.ListEscalationModel[i].UserNameCommaSep)
                                    </div>
                                </div>
                            }
                        </div>


                    </div>
                    <br clear="all" />
                    <hr>
                }


                <div class="box-body-white" style="margin-top:5px;">

                    <h5 class="modal-title">Responsible Person Information</h5>
                    <hr>
                    <div class="form-group col-md-6">
                        <div class="col-md-6">
                            <label>Name</label>
                        </div>
                        <div class="col-md-6">
                            @*@Html.DisplayFor(m => m.VmComplaintResponsiblePerson.Name)*@
                            @Html.DisplayFor(m => m.dbUserStakeholder.Name)
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="col-md-6">
                            <label>Contact No</label>
                        </div>
                        <div class="col-md-6">
                            @*@Html.DisplayFor(m => m.VmComplaintResponsiblePerson.MobileNo)*@
                            @Html.DisplayFor(m => m.dbUserStakeholder.Phone)
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="col-md-6">
                            <label>Area</label>
                        </div>
                        <div class="col-md-6">
                            @*@Html.DisplayFor(m => m.VmComplaintResponsiblePerson.Designation)*@
                            @Html.DisplayFor(m => stakeholderHierarchy)
                            @*Utility.GetHierarchyValueName((Config.Hierarchy)hierarchyId, hierarchyIdValue) + " (" + ((Config.Hierarchy)hierarchyId).GetDisplayName() + ")";
                                @Html.DisplayFor(m => m.dbUserStakeholder.)*@
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="col-md-6">
                            <label>Designation</label>
                        </div>
                        <div class="col-md-6">
                            @*@Html.DisplayFor(m => m.VmComplaintResponsiblePerson.Designation)*@
                            @Html.DisplayFor(m => m.dbUserStakeholder.Designation)
                        </div>
                    </div>
                    <br clear="all" />


                    <h5 class="modal-title">Complaint Information</h5>
                    <hr>
                    @if (Model.Latitude != null && Model.Longitude != 0)
                    {
                        @*<h6 class="modal-title">Location</h6>
                            <hr>*@
                        <div style="min-height: 255px" id="map-MapDiv2" lat="@Model.Latitude" lng="@Model.Longitude" class="MapDiv">
                        </div>
                        @*<div id="MapDiv" onload="renderMap(@Model.Latitude,@Model.Longitude,'MapDiv','sami')"></div>*@
                        <hr>
                        <br clear="all">
                    }

                    @*<div id="MapDiv" class="MapDiv" onload="renderMap(31.6009095,74.3825018,'MapDiv','sami')"></div>*@

                    @if (Model.ListDynamicComplaintFields != null && Model.ListDynamicComplaintFields.Count > 0)
                    {
                        for (int i = 0; i < Model.ListDynamicComplaintFields.Count; i++)
                        {
                            <div class="form-group col-md-6">
                                <div class="col-md-6">
                                    <label>@Model.ListDynamicComplaintFields[i].FieldName</label>
                                </div>
                                <div class="col-md-6">
                                    @if (!String.IsNullOrEmpty(Model.ListDynamicComplaintFields[i].FieldValue))
                                    {
                                        @Html.DisplayFor(m => m.ListDynamicComplaintFields[i].FieldValue)
                                    }
                                    else
                                    {
                                        <div> N/A </div>
                                    }
                                </div>
                            </div>
                        }
                    }

                    <div class="form-group col-md-6">
                        <div class="col-md-6">
                            <label>Type</label>
                        </div>
                        <div class="col-md-6">
                            @Html.DisplayFor(m => m.Complaint_Type)
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="col-md-6">
                            <label>Category</label>
                        </div>
                        <div class="col-md-6">
                            @Html.DisplayFor(m => m.ComplaintCategoryName)
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="col-md-6">
                            <label>Sub Category</label>
                        </div>
                        <div class="col-md-6">
                            @Html.DisplayFor(m => m.Complaint_SubCategoryName)
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <div class="col-md-6">
                            <label>Province</label>
                        </div>
                        <div class="col-md-6">
                            @Html.DisplayFor(m => m.Province_Name)
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="col-md-6">
                            <label>District</label>
                        </div>
                        <div class="col-md-6">
                            @if (PermissionHandler.IsPermissionAllowedInUser(Config.Permissions.UpdateComplaintDetail, user.UserId, user.Role))
                            {

                                @Html.DropDownListFor(m => m.District_Id, Model.VmDistrictList, new { @class = "form-control" })

                            }
                            else
                            {
                                @Html.DisplayFor(m => m.District_Name)
                            }

                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="col-md-6">
                            <label>Town/Tehsil</label>
                        </div>
                        <div class="col-md-6">
                            @Html.DisplayFor(m => m.Tehsil_Name)
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="col-md-6">
                            <label>Uc</label>
                        </div>
                        <div class="col-md-6">
                            @Html.DisplayFor(m => m.UnionCouncil_Name)
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <div class="col-md-6">
                            <label>Complete Address</label>
                        </div>
                        <div class="col-md-6">

                            @Html.DisplayFor(m => m.Complaint_Address)
                        </div>
                    </div>



                    <div class="form-group col-md-6">
                        <div class="col-md-6">
                            <label>Details Of Complaint</label>
                        </div>
                        <div class="col-md-6">
                            @if (PermissionHandler.IsPermissionAllowedInUser(Config.Permissions.UpdateComplaintDetail, user.UserId, user.Role))
                            {
                                @Html.HiddenFor(m => m.ComplaintId)
                                @Html.TextAreaFor(m => m.Complaint_Remarks, new { @class = "form-control", @rows = 5 })
                                <button class="btn btn-primary btn-block" type="submit">Save</button>
                            }
                            else
                            {
                                if (System.Text.RegularExpressions.Regex.Matches(Model.Complaint_Remarks, @"\p{IsArabic}").Count > 0)
                                {
                                    @Html.DisplayFor(m => m.Complaint_Remarks, new { style = "font-family: 'Nafees Web Naskh', 'Jameel Noori Nastaleeq', Arial, sans-serif;direction:rtl;" })

                                }
                                else
                                {
                                    @Html.DisplayFor(m => m.Complaint_Remarks);
                                }
                            }


                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="col-md-6">
                            <label>Agent's Comments </label>
                        </div>
                        <div class="col-md-6">
                            @Html.DisplayFor(m => m.Agent_Comments)
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="col-md-6">
                            <label>Attachments </label>
                        </div>
                        <div class="col-md-6">
                            @if (@Model.vmFileModel.ListFileModel == null || @Model.vmFileModel.ListFileModel.Count == 0)
                            {
                                <span>None </span>
                            }
                            else
                            {
                                <button type="submit" name="Show" value="@Model.ComplaintId" id="@Model.ComplaintId" class="btn btn-primary btn-sm" onclick=" OpenComplaintAttachments(this.id); ">
                                    <span class="glyphicon glyphicon-eye-open"></span>&nbsp;&nbsp;View&nbsp;&nbsp;&nbsp;&nbsp;
                                </button>
                            }
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="col-md-6">
                            <label>Current Status </label>
                        </div>
                        <div class="col-md-6">
                            @Html.DisplayFor(m => m.currentStatusStr)
                        </div>
                    </div>
                    @if (!string.IsNullOrEmpty(Model.currStatusCommentsStr))
                    {
                        <div class="form-group col-md-6">
                            <div class="col-md-6">
                                <label> Status Comments </label>
                            </div>
                            <div class="col-md-6">
                                @Html.DisplayFor(m => m.currStatusCommentsStr)
                            </div>
                        </div>
                    }
                    <div class="form-group col-md-6">
                        <div class="col-md-6">
                            <label>Follow up count</label>
                        </div>
                        <div class="col-md-6">

                            @Html.DisplayFor(m => m.followupCount)
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <div class="col-md-6">
                            <label>Follow up comments</label>
                        </div>
                        <div class="col-md-6">

                            @Html.DisplayFor(m => m.followupComment)
                        </div>
                    </div>

                    <br style="clear: both;" />

                </div>


            </form>

            @if ((@Model.currDetailType == VmStakeholderComplaintDetail.DetailType.All && PermissionHandler.IsPermissionAllowedInUser(Config.Permissions.ShowStatusChangeInComplaintsAllStakeholder, user.UserId, user.Role))
                 || (@Model.currDetailType == VmStakeholderComplaintDetail.DetailType.AssignedToMe && !PermissionHandler.IsPermissionAllowedInUser(Config.Permissions.HideStatusChangeInComplaintsAssignedToMeStakeholder, user.UserId, user.Role)))
            {

                <div id="changeStatus" class="box box-primary" style="box-shadow: none;">
                    <div class="box-header-blue with-border btn-header">
                        <h4 class="modal-title">Change Status</h4>
                    </div>



                    <div class="box-body-white" style="margin-top: 5px;">
                        @*@using (Ajax.BeginForm("OnStatusChange", "Complaint", new AjaxOptions
                            {
                                HttpMethod = "POST",
                                //InsertionMode = InsertionMode.Replace,
                                //UpdateTargetId = "detail",
                                //LoadingElementId = "loading",
                                OnSuccess = "OnStatusChangeComplete(data);"
                            }, new { enctype = "multipart/form-data" }))*@
                        @using (Html.BeginForm("OnStatusChange", "Complaint", FormMethod.Post, new { enctype = "multipart/form-data", id = "StatusChangeForm" }))
                        {
                            @Html.HiddenFor(m => m.VmStatusChange.Compaign_Id)
                            @Html.HiddenFor(m => m.VmStatusChange.ComplaintId)
                            @Html.HiddenFor(m => m.VmStatusChange.Complaint_Category)
                            @Html.HiddenFor(m => m.VmStatusChange.Complaint_SubCategory)
                            @Html.HiddenFor(m => m.dbUserStakeholder.Designation_abbr);
                            @Html.HiddenFor(m => m.VmStatusChange.currentStatusId);
                            <div class="form-group col-md-12">
                                <div class="form-group col-md-6">
                                    <div class="col-md-3">
                                        <label>Status </label>
                                    </div>
                                    <div class="col-md-9">
                                        @Html.DropDownListFor(m => m.VmStatusChange.statusID, Model.VmStatusChange.ListStatus, new { @Id = "statusList", @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <div class="col-md-3">
                                        <label>Comments </label>
                                    </div>
                                    <div class="col-md-9">
                                        @Html.TextAreaFor(m => m.VmStatusChange.statusChangeComments, new { @class = "form-control", @placeholder = "Comments" })
                                    </div>
                                </div>

                            </div>
                            <div class="form-group col-md-12 text-right">

                                <button type="submit" class="btn btn-primary" id="FilterBtn" onclick="OnStatusChangeSubmit()"><span class="glyphicon glyphicon-edit"></span>&nbsp;Change</button>

                            </div>
                            if (!(@Model.Compaign_Id == (int)Config.Campaign.FixItLwmc && (@Model.dbUserStakeholder.Designation_abbr == "AM OPS" || @Model.dbUserStakeholder.Designation_abbr == "ZO") && @Model.VmStatusChange.currentStatusId == 12/*ResolvedUnverified*/))
                            {


                                <div class="col-md-12 form-group">
                                    <a class="btn btn-default btn-sm " role="button" data-toggle="collapse" href="#Filters4" aria-expanded="true" aria-controls="Filters4">
                                        <span class="fa fa-sliders"></span>Attach Files
                                    </a>
                                </div>

                                @*<div class="row">
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-success">0%</div>
                                    </div>

                                    <div id="status"></div>
                                    </div>*@

                                <div id="Filters4" class="collapsed collapsed in" area-expanded="true">
                                    <div class="row">
                                        <div class="col-md-5 form-group">
                                            <div class="col-md-1">
                                                <label>1) </label>
                                            </div>
                                            <div class="col-md-10">
                                                <input class="form-control" type="file" name="FileUpload1" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-5 form-group">
                                            <div class="col-md-1">
                                                <label>2) </label>
                                            </div>
                                            <div class="col-md-10">
                                                <input class="form-control" type="file" name="FileUpload2" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-5 form-group">
                                            <div class="col-md-1">
                                                <label>3) </label>
                                            </div>
                                            <div class="col-md-10">
                                                <input class="form-control" type="file" name="FileUpload3" />
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-5 form-group">
                                            <div class="col-md-1">
                                                <label>4) </label>
                                            </div>
                                            <div class="col-md-10">
                                                <input class="form-control" type="file" name="FileUpload4" />
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-5 form-group">
                                            <div class="col-md-1">
                                                <label>5) </label>
                                            </div>
                                            <div class="col-md-10">
                                                <input class="form-control" type="file" name="FileUpload5" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                        }
                        <br style="clear: both;" />
                    </div>


                </div>

            }


            @if (/*@Model.currDetailType == VmStakeholderComplaintDetail.DetailType.AssignedToMe ||*/ PermissionHandler.IsPermissionAllowedInUser(Config.Permissions.ChangeCategoryInStakeholderDetail, user.UserId, user.Role))
            {

                <div class="box box-primary" style="box-shadow: none;">
                    <div class="box-header-blue with-border btn-header">
                        <h4 class="modal-title">Change Category</h4>
                    </div>



                    <div class="box-body-white" style="margin-top: 5px;">
                        @*@using (Ajax.BeginForm("OnStatusChange", "Complaint", new AjaxOptions
                            {
                                HttpMethod = "POST",
                                //InsertionMode = InsertionMode.Replace,
                                //UpdateTargetId = "detail",
                                //LoadingElementId = "loading",
                                OnSuccess = "OnStatusChangeComplete(data);"
                            }, new { enctype = "multipart/form-data" }))*@

                        @using (Html.BeginForm("OnCategoryChange", "Complaint", FormMethod.Post, new { enctype = "multipart/form-data", id = "CategoryChangeForm" }))
                        {
                            @Html.HiddenFor(m => m.VmCategoryChange.ComplaintId)
                            @Html.HiddenFor(m => m.VmCategoryChange.Compaign_Id)
                            @Html.HiddenFor(m => m.VmCategoryChange.Complaint_Category)
                            @Html.HiddenFor(m => m.VmCategoryChange.Complaint_SubCategory)

                            <div class="form-group col-md-12">



                                <div class="form-group col-md-6">
                                    <div class="col-md-3">
                                        <label>Category*</label>
                                    </div>
                                    <div class="col-md-9">
                                        @Html.DropDownListFor(m => m.VmCategoryChange.selectedComplaintCategory, Model.VmCategoryChange.ComplaintCategoriesSelectList, "--Select--", new { @Id = "userControlCategory", @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.VmCategoryChange.selectedComplaintCategory, "", new { @class = "label label-warning" })
                                    </div>
                                </div>

                                <div class="form-group col-md-6">
                                    <div class="col-md-3">
                                        <label>Sub Category*</label>
                                    </div>
                                    <div class="col-md-9">
                                        @Html.DropDownListFor(m => m.VmCategoryChange.selectedComplaintSubCategory, Model.VmCategoryChange.ComplaintSubCategoriesSelectList, "--Select--", new { @Id = "userControlSubCategory", @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.VmCategoryChange.selectedComplaintSubCategory, "", new { @class = "label label-warning" })
                                    </div>
                                </div>

                                @*<div class="col-md-1">
                                        <label>Status </label>
                                    </div>
                                    <div class="col-md-3">
                                        @Html.DropDownListFor(m => m.statusID, Model.ListStatus, new { @Id = "statusList", @class = "form-control" })
                                    </div>
                                    <div class="col-md-2">
                                        <label>Comments </label>
                                    </div>
                                    <div class="col-md-4">
                                        @Html.TextAreaFor(m => m.statusChangeComments, new { @class = "form-control", @placeholder = "Comments" })

                                    </div>*@
                                @*<div class="col-md-2">
                                        <button type="submit" class="btn btn-primary widthFull pull-right" id="FilterBtn" onclick="OnCategoryChangeSubmit()"><span class="glyphicon glyphicon-edit"></span>&nbsp;Change</button>
                                    </div>*@
                            </div>

                            <div class="form-group col-md-12 text-right">

                                <button type="submit" class="btn btn-primary" id="FilterBtn" onclick=" OnCategoryChangeSubmit() "><span class="glyphicon glyphicon-edit"></span>&nbsp;Change</button>

                            </div>
                        }

                        <br style="clear: both;" />
                    </div>


                </div>

            }




            <div class="box box-primary" style="box-shadow:none;">
                <div class="box-header-blue with-border btn-header">
                    <h4 class="modal-title">Status History</h4>
                </div>
                @if (@Model.hasStatusHistory)
                {
                    <div class="box-body-white" style="margin-top: 5px;">
                        <a class="btn btn-default btn-sm margin_b" role="button" data-toggle="collapse" href="#Filters3" aria-expanded="true" aria-controls="Filters3">
                            <span class="fa fa-sliders"></span>Status History
                        </a>
                        <div id="Filters3" class="collapsed collapsed in" area-expanded="true">
                            <div class="">
                                <div>
                                    <div id="DivStatusLogs" style="margin-top: 20px">
                                        <div class="" style="margin: 0 auto; width: 100%;">

                                            <table id="StatusHistoryTable" style="width: 100%;" class="table responsive table-hover table-striped table-bordered table-condensed margin_t">
                                                <thead>
                                                    <tr style="background-color: #8b0000; color: #ffffff">
                                                        <th>User Name</th>
                                                        <th>User Hierarchy</th>
                                                        <th>Hierarchy Value</th>
                                                        <th>Status</th>
                                                        <th>Status Change Date</th>
                                                        <th>Comments</th>
                                                        <th>Active</th>
                                                        <th>Show Files</th>
                                                    </tr>
                                                </thead>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br clear="all" />
                        <hr>
                    </div>
                }
                else
                {
                    <div class="box-body-white" style="margin-top:5px;">
                        <div class=" margin_t15px">
                            <div class="form-group col-md-12">
                                <label> No Status History Found </label>
                            </div>
                        </div>
                    </div>
                }
            </div>



            <div class="box-header-blue with-border btn-header">
                <h4 class="modal-title">Transfer History</h4>
            </div>
            <div class="box-body-white" style="margin-top:5px;">
                @if (Model.hasTransferHistory)
                {
                    <a class="btn btn-default btn-sm margin_b" role="button" data-toggle="collapse" href="#Filters2" aria-expanded="true" aria-controls="Filters2">
                        <span class="fa fa-sliders"></span>Transfer History
                    </a>
                    <div id="Filters2" class="collapsed collapsed in" area-expanded="true">
                        <div class="">
                            <div>
                                <div id="DivAttendanceLogs" style="margin-top: 20px">
                                    <div class="" style="margin: 0 auto; width: 100%;">

                                        <table id="forwardToLogs2" style="width: 100%;" class="table responsive table-hover table-striped table-bordered table-condensed margin_t">
                                            <thead>
                                                <tr style="background-color: #8b0000; color: #ffffff">
                                                    <th>Name</th>
                                                    <th>From</th>
                                                    <th>From Detail</th>
                                                    <th>To</th>
                                                    <th>To Detail</th>
                                                    <th>Date Time</th>
                                                    <th>Comments</th>
                                                </tr>
                                            </thead>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                }
                else
                {
                    <div class=" margin_t15px">
                        <div class="form-group col-md-12">
                            <label> No Transfer History Found </label>
                        </div>
                    </div>
                }
            </div>
            <br clear="all" />
            <hr>







            <div class="box-footer">
                <div style="font-size: 12px;">Created by : <b>@Model.Created_By</b> &nbsp; <i>@Model.Created_DateTime.Value.ToString("dd-MMM-yyyy hh:mm:tt")</i></div>
            </div>
        </div>


        @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <div class="modal-header"><h4>Detail</h4></div>*@

    </div>

</div>





@*<script>
        (function () {

            var bar = $('.progress-bar');
            var percent = $('.progress-bar');
            //var status = $('#status');

            $('form').submit({
                beforeSend: function () {
                    status.empty();
                    var percentVal = '0%';
                    bar.width(percentVal)
                    percent.html(percentVal);
                },
                uploadProgress: function (event, position, total, percentComplete) {
                    var percentVal = percentComplete + '%';
                    bar.width(percentVal)
                    percent.html(percentVal);
                },
                success: function () {
                    var percentVal = '100%';
                    bar.width(percentVal)
                    percent.html(percentVal);
                    alert('zeeshi12');
                },
                complete: function (xhr) {
                    alert('zeeshi');
                    status.html(xhr.responseText);
                }
            });

        })();
    </script>*@


<script type="text/javascript">
    var dropDownDict = [];
    $(document).ready(function () {

        debugger;
        initMap(false, 'MapDiv');
        $('form').removeData('validator');
        $('form').removeData('unobtrusiveValidation');
        $.validator.unobtrusive.parse('form');


        $(".collapse").collapse();
        $('#Filters3').collapse({ hide: true });

        $(".collapse").collapse();
        $('#FiltersShowEscalation').collapse({ hide: true });

        PopulateDropDownDictionary();
        RegisterDropDownListChangeEventsCustomDictionaryWithSkipCount(dropDownDict, 1);

        //$(".collapse").collapse();
        $('#Filters4').collapse({ hide: false });

        @if (@Model.hasStatusHistory)
        {
            <text>
        ReloadDataForStatusChange('#StatusHistoryTable');
        </text>
        }


        @if (Model.hasTransferHistory)
        {
            <text>
        ReloadDataTableAbsent('#forwardToLogs2');
        $(".collapse").collapse();
        $('#Filters2').collapse({ hide: true })
        </text>
        }





       
    });

    var maps = [];
    var markers = [];
    function initMap(loadAll, elementClass) {
        //alert('Alert');
        debugger;
        var $maps = '';
        if (loadAll)
            $maps = $('.map');
        else {
            $maps = $('.' + elementClass);

        }
        $.each($maps, function(i, value) {
            var uluru = { lat: parseFloat($(value).attr('lat')), lng: parseFloat($(value).attr('lng')) };

            var mapDivId = $(value).attr('id');
            var mapDiv = document.getElementById(mapDivId);
            //maps[mapDivId] = new google.maps.Map(mapDiv, {
            //    zoom: 17,
            //    center: uluru
            //});
            var mpDiv = new google.maps.Map(mapDiv, {
                zoom: 17,
                center: uluru
            });

            //markers[mapDivId] = new google.maps.Marker({
            //    position: uluru,
            //    map: maps[mapDivId]
            //});

            var mpMarkersDiv = new google.maps.Marker({
                    position: uluru,
                    map: mpDiv
            });
        });
    }

    //function renderMap(latitude, longitude, elementWhereMapWillBeRendered, title) {
    //    debugger;
    
    //    var myLatLng = { lat: latitude, lng: longitude };

    //    var map = new google.maps.Map(document.getElementById(elementWhereMapWillBeRendered), {
    //        zoom: 15,
    //        center: myLatLng
    //    });

    //    var marker = new google.maps.Marker({
    //        position: myLatLng,
    //        map: map,
    //        title: title
    //    });
    //}

    function PopulateDropDownDictionary() {
        //alert(dropDownDict);
        dropDownDict.push({
            key: "userControlCategory",
            value: "ComplaintSubType"
        });

        dropDownDict.push({
            key: "userControlSubCategory",
            value: null,
        });

    }

    function OnCategoryChangeSubmit() {
        if ($('#CategoryChangeForm').valid()) {
            ShowLoading();
        }
    }


    function OnStatusChangeSubmit() {
        debugger;
        //if ($('#StatusChangeForm').valid()) {
        //    ShowLoading();
        //}
        var campId = $('#VmStatusChange_Compqaign_Id').val();
        var userAbbr = $('#dbUserStakeholder_Designation_abbr').val();
        var clen = $('#VmStatusChange_statusChangeComments').val().length;
        var statusId = $('#VmStatusChange_currentStatusId').val();
        if (campId == 49 && (userAbbr == 'ZO' || userAbbr == 'AM OPS') && (statusId == 12)) {
            if (clen == 0) {
                return true;
                ShowLoading();
            }
        }
        if ($('#StatusChangeForm').valid()) {
            ShowLoading();
        }
    }

    function OnStatusChangeComplete(data) {
        //alert('zeeshi');
        $('#PopupDiv').modal('hide');
        //$('.modal-content').Hide();
    }

    function ReloadDataForStatusChange(divId) {
        $(divId).dataTable().fnDestroy();
        var table = $(divId).dataTable({
            "bSort": true,
            "ajax": "@Url.Action("GetComlaintsStatusChangeHistoryTable", "GeneralApi")?" + "complaintId=" + $('#ComplaintId').val(),
            "contentType": "application/json",
            "type": "GET",
            "bLengthChange": false,
            "columns": [
               { "data": "UserName" },
                { "data": "UserHierarchy" },
                { "data": "UserHierarchyValue" },
                { "data": "Status" },
                { "data": "StatusChangeDateTime" },
                { "data": "Comments" },
                { "data": "IsCurrentlyActive" }
                //{ "data": "Id" }
            ],
            "aoColumnDefs": [
                {
                    "aTargets": [7],
                    "bSearchable": false,
                    "bSortable": false,
                    "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                        //alert('zeeshi');
                        $(nTd).css('text-align', 'center');
                    },
                    "mData": null,
                    "mRender": function (data, type, full) {
                        //alert(data.id);
                        return '<td>' +
                            '<button type="submit" name="Show" value="' + data.Id + '" id="' + data.Id + '" class="btn btn-primary btn-sm" onclick="OpenStatusAttachments(this.id);">' +
                            '<span class="glyphicon glyphicon-eye-open"></span>&nbsp;&nbsp;View</b>&nbsp;&nbsp;&nbsp;&nbsp;</button>' +
                            '</td>';
                    }
                }
            ]
        });
    }


    function ReloadDataTableAbsent(divId) {
        $(divId).dataTable().fnDestroy();
        var table = $(divId).dataTable({
            "bSort": false,
            "ajax": "@Url.Action("GetComlaintsTransferedHistoryTable", "GeneralApi")?" + "complaintId=" + $('#ComplaintId').val(),
            "contentType": "application/json",
            "type": "GET",
            "bLengthChange": false,
            "columns": [
                { "data": "UserName" },
                { "data": "AssignedFromMedium" },
                { "data": "AssignedFromMediumValue" },
                { "data": "AssignedToMedium" },
                { "data": "AssignedToMediumValue" },
                { "data": "AssignedDate" },
                { "data": "Comment" }

            ],
        });
    }

    function OpenStatusAttachments(id) {
        //alert(id);
        $('#PopupDiv2').empty();
        $('#PopupDiv2').load("../Complaint/FileViewer?complaintId=" + @Model.ComplaintId + "&attachmentRefType=" +@Convert.ToInt32(Config.AttachmentReferenceType.ChangeStatus) +"&attachmentRefTypeId=" + id);
        $('#PopupDiv2').modal();
    }

    function OpenComplaintAttachments(id) {
        $('#PopupDiv2').empty();
        $('#PopupDiv2').load("../Complaint/FileViewer?complaintId=" + @Model.ComplaintId + "&attachmentRefType=" +@Convert.ToInt32(Config.AttachmentReferenceType.Add) +"&attachmentRefTypeId=" + id);
        $('#PopupDiv2').modal();
    }
    function PrintReport() {
        debugger;
        var html = document.getElementById("ComplaintDetail").innerHTML;
        var filename = document.getElementById("complaintId").innerHTML + ".pdf";
        var htmlData = {
            id: 1,
            htmlStr: GetLinkStrOnPage() + html
        };
        $.ajax({
            dataType: 'json',
            type: 'POST',
            url: '@Url.Action("ExportPdfWithHtmlDisabledShrinking", "generalapi")',
            data: { htmlData: htmlData },
            success: function (dataId) {
                //alert(dataId);
                debugger;
                window.location = '@Url.Action("ExportPdfWithHtml", "generalapi")?dataId=' + dataId + '&filename=' + filename;
                HideLoading();
            },
            error: function (xhr, status, error) {
                var err = eval("(" + xhr.responseText + ")");
                HideLoading();
            }

        });
    }

    $(".col-md-6").each(function () {


        let feild = $(this);
        let text = feild.html().trim();

        if (text == "") {
            feild.closest(".form-group").remove();
        }

    });
   

</script>
