@model PITB.CMS_Common.Models.View.VmResolverDetail

<div>
    <h4>VmResolverDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Designation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Designation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DesignationAbbr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DesignationAbbr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProvinceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProvinceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DistrictName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DistrictName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DivisionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DivisionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TehsilName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TehsilName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnionCouncilName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnionCouncilName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WardName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WardName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
