@using PITB.CMS_Common.Enums
@using PITB.CMS_Common.Helper.Extensions
@using PITB.CMS_Common.Models.View.Account
@model VmChangePassword
<div class="box box-primary">
    <div class="box-body-white">
        <div class="form-horizontal">
            <!-- form start -->
            @using (Ajax.BeginForm("OnChangePassword", "Account", new AjaxOptions()
            {
                HttpMethod = "POST",
                OnBegin = "$.loading(this,false)",
                OnComplete = "$.loading(this,true)",
                OnSuccess = "$.Show(data)",
                AllowCache = false
            }))
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.OldPassword, null, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                        <small class="bg-yellow-gradient">@Html.ValidationMessageFor(m => m.OldPassword, "")</small>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-sm-2 control-label" })

                    <div class="col-sm-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        <small class="bg-yellow-gradient">@Html.ValidationMessageFor(m => m.Password, "")</small>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-sm-2 control-label" })

                    <div class="col-sm-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        <small class="bg-yellow-gradient">@Html.ValidationMessageFor(m => m.ConfirmPassword, "")</small>
                    </div>
                </div>


        <!-- /.box-body -->

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </div>
        <!-- /.box-footer -->
            }
        </div>
    </div>
</div>


@(Html.GetEnums<MessageCatalog.DialogType>())
<script>
    $(function () {
        $('form').removeData('validator');
        $('form').removeData('unobtrusiveValidation');
        $.validator.unobtrusive.parse('form');
    });
</script>