@using PITB.CMS_Common.Enums
@using PITB.CMS_Common.Helper.Extensions
@using PITB.CMS_Common.Models.View.Account
@model VmForgotPasswordChange

<div style="text-align:center;border-radius:5px;">
    <div class="box box-primary">
        <div class="box-body-white">
            <div class="form-horizontal">
                <!-- form start -->
                @using (Ajax.BeginForm("OnForgotPasswordChange", "Account", new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccess", OnFailure = "OnFailure" }))
                {
                    <div class="form-group" style="margin-left:0px;margin-right:0px">
                        @Html.LabelFor(m => m.Username, null, new { @class = "control-label pull-left" })<br />
                        <div class="col-sm-12">
                            @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group" style="margin-left:0px;margin-right:0px">
                        @Html.LabelFor(m => m.Password, new { @class = "control-label pull-left" })<br />

                        <div class="col-sm-12">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            <small class="text-warning">@Html.ValidationMessageFor(m => m.Password, "")</small>
                        </div>
                    </div>
                    <div class="form-group" style="margin-left:0px;margin-right:0px">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label pull-left" })<br />

                        <div class="col-sm-12">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            <small class="text-warning">@Html.ValidationMessageFor(m => m.ConfirmPassword, "")</small>
                        </div>
                    </div>


                    <!-- /.box-body -->
                    <div class="form-group" style="margin-left:0px;margin-right:0px">
                        <label id="error" style="display:none;color:#33672C;"></label>
                    </div>

                    <div class="form-group" style="margin-left:0px;margin-right:0px">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>
                    </div>
                    <!-- /.box-footer -->
                }
            </div>
        </div>
    </div>
</div>

@(Html.GetEnums<MessageCatalog.DialogType>())
<script type="text/javascript">
    function OnSuccess(data) {

        document.getElementById("error").innerHTML = data.param2;
        document.getElementById("error").style.display = "block";
    }
    function OnFailure(data) {
        alert('HTTP Status Code: ' + data.param1 + '  Error Message: ' + data.param2);
    }
</script>
