@using PITB.CMS_Common.Models.View.Account;

@{
    //Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,300italic,400italic,600italic' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body class="login-page">
    <div class="login-box">
        <div class="login-box-body">
            <div class="login-logo">
                <a href="@Url.Action("Login","PublicUser")"><img src="~/img/crm-logo-2.png" class="img-responsive" /></a>
            </div><!-- /.login-logo -->
            <div id="pageContent" style="clear:both">
                <div>
                    <h4 style="color:#FBF87F">Password restore</h4><br />
                </div>
                <div id="ContentPartialView" style="clear:both">
                    @{
                        Html.RenderAction("EnterUsername", "PublicUser", null);
                    }
                </div>
            </div>
        </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->
</body>
</html>
