
<div class="box-header-blue with-border btn-header" style="min-height: unset; margin-top: 8px;">
    <h4 class="box-title" style="margin-top: 0px;"><img style="max-width:40px; max-height: 40px; margin-top: -3px; margin-right: 15px; padding-top: 0px;">Top 5 Overdue Complaints (By Officers)</h4>
</div>

<div class="box-body-white" style="padding-bottom: 0px;">

    <table id="TopOverDueComplaintsByOfficer@(ViewBag.divTag)" width="100%" class="Customtable table-condensed table-hover table-bordered table-striped  responsive" role="grid" aria-describedby="agentListing">
        <thead>
            <tr role="row" class="tableHeader">
                <th>Sr No</th>
                <th>Resolving Officer</th>
                <th>Overdue Complaints</th>
                <th>@ViewBag.Hierarchy1</th>
            </tr>
        </thead>
        <tbody></tbody>

    </table>
</div>




<script type="text/javascript">
    $(function() {
        debugger;
        LoadData@(ViewBag.divTag)();
        
    });
    function LoadData@(ViewBag.divTag)()
        {
        LoadTable@(ViewBag.divTag)("@Url.Action("TopOverDueComplaintsByOfficer", "ApiSchoolEducation")");
        }
    function LoadTable@(ViewBag.divTag)(apiUrl, from, to, campaign, cateogries, statuses) {
        debugger;
        var table = $('#TopOverDueComplaintsByOfficer@(ViewBag.divTag)').dataTable({
            "dom": '<"top"<"col-md-6"l><"col-md-6"f><"col-md-6"i><"col-md-6"p>>',
            fnInitComplete: function (oSettings, json) {
                counter = 1;
            },
            "bDestroy": true,
            "iDisplayLength": 50,
            "processing": false,
            "responsive": true,
            "serverSide": false,
            "ajax": {
                "url": apiUrl,//'../GeneralApi/GetStakeholderComplaints',
                "type": "POST",
                data: {
                    startDate: $('#dateRange').val().split('To')[0].trim(),
                    endDate: $('#dateRange').val().split('To')[1].trim(),
                    campId: @((string)ViewBag.campId),
                    hierarchyId: @((int)ViewBag.hierarchyId),
                    userHierarchyId: @((int)ViewBag.userHierarchyId),
                    commaSepVal: '@((string)ViewBag.commaSepVal)',
                    statusIds: '@(ViewBag.statusIds)',
                    reportType: @((int)ViewBag.reportType),
                    divTag: @((string)ViewBag.divTag)
                    }
                //data: { from: from, to: to, campaign: campaign, cateogries: cateogries, statuses: statuses }
            },
            "columns": [
                       { "data": "SrNo" },
                       { "data": "ResolvingOfficer" },
                       { "data": "OverdueComplaints" },
                       { "data": "Hierarchy1Data" }
            ],
        });
        DivData.push(table);
    }
</script>
