@using PITB.CMS_Common
@using PITB.CMS_Common.Handler.Permission
@using PITB.CMS_Common.Handler.Authentication
@model VmComplaintDetailAgent
@{
    //Layout = null;
    var user = AuthenticationHandler.GetCookie();
    bool isProfileHidden = (PermissionHandler.IsPermissionAllowedInCampagin(Config.CampaignPermissions.HideProfileInfoFromStakeholderDetail) &&
                    !PermissionHandler.IsPermissionAllowedInUser(Config.Permissions.ShowProfileInfoInStakeholderDetail, user.UserId, user.Role)
                    );
}

<div id="ComplaintDetail" class=" modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-body">
            @Html.HiddenFor(m => m.ComplaintId)
            @Html.HiddenFor(m => m.Compaign_Id)
            @Html.HiddenFor(m => m.Complaint_Category)
            @if (!isProfileHidden && !Model.Is_Anonymous)
            {
                <div class="box box-primary" style="box-shadow: none;">
                    <div class="box-header-blue with-border btn-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

                        <h4 class="modal-title">Personal Information</h4>
                        @*<button class="pull-right btn btn-success" style="margin-right: 30px;margin-top: -25px" onclick="PrintReport()">Print</button>*@
                    </div>
                    <div class="box-body-white" style="margin-top: 5px;">

                        <div class="form-group col-md-6">
                            <div class="col-md-6">
                                <label>Name</label>
                            </div>
                            <div class="col-md-6">
                                @Html.DisplayFor(m => m.Person_Name)
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="col-md-6">
                                <label>Father/Husband Name</label>
                            </div>
                            <div class="col-md-6">
                                @Html.DisplayFor(m => m.vmPersonlInfo.Person_Father_Name)
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="col-md-6">
                                <label>CNIC No</label>
                            </div>
                            <div class="col-md-6">
                                @Html.DisplayFor(m => m.Person_Cnic)
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <div class="col-md-6">
                                <label>Gender</label>
                            </div>
                            <div class="col-md-6">
                                @Html.DisplayFor(m => m.vmPersonlInfo.Gender)
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="col-md-6">
                                <label>Contact No</label>
                            </div>
                            <div class="col-md-6">
                                @Html.DisplayFor(m => m.Person_Contact)
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="col-md-6">
                                <label>Secondary contact</label>
                            </div>
                            <div class="col-md-6">
                                @Html.DisplayFor(m => m.vmPersonlInfo.Secondary_Mobile_No)
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="col-md-6">
                                <label>Province</label>
                            </div>
                            <div class="col-md-6">
                                @Html.DisplayFor(m => m.vmPersonlInfo.Province.Province_Name)
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="col-md-6">
                                <label>District</label>
                            </div>
                            <div class="col-md-6">
                                @Html.DisplayFor(m => m.vmPersonlInfo.District.District_Name)
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="col-md-6">
                                <label>Landline No</label>
                            </div>
                            <div class="col-md-6">
                                @Html.DisplayFor(m => m.vmPersonlInfo.LandLine_No)
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <div class="col-md-6">
                                <label>Person address</label>
                            </div>
                            <div class="col-md-6">

                                @Html.DisplayFor(m => m.vmPersonlInfo.Person_Address)
                            </div>
                        </div>

                        <br style="clear: both;" />

                    </div>
                </div>
            }
            <div class="box box-primary" style="box-shadow:none;">
                <div class="box-header-blue with-border btn-header">
                    @if (isProfileHidden || Model.Is_Anonymous)
                    {
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    }
                    <h4 class="modal-title">Complaint Information [<span id="complaintId">@Model.complaintIdStr</span>]</h4>
                </div>



                <div class="box-body-white" style="margin-top:5px;">

                    @if (Model.ListDynamicComplaintFields != null && Model.ListDynamicComplaintFields.Count > 0)
                    {
                        for (int i = 0; i < Model.ListDynamicComplaintFields.Count; i++)
                        {
                            <div class="form-group col-md-6">
                                <div class="col-md-6">
                                    <label>@Model.ListDynamicComplaintFields[i].FieldName</label>
                                </div>
                                <div class="col-md-6">
                                    @if (!String.IsNullOrEmpty(Model.ListDynamicComplaintFields[i].FieldValue))
                                    {
                                        @Html.DisplayFor(m => m.ListDynamicComplaintFields[i].FieldValue)
                                    }
                                    else
                                    {
                                        <div> N/A </div>
                                    }
                                </div>
                            </div>
                        }
                    }
                    <div class="form-group col-md-6">
                        <div class="col-md-6">
                            <label>Type</label>
                        </div>
                        <div class="col-md-6">
                            @Html.DisplayFor(m => m.Complaint_Type)
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="col-md-6">
                            <label>Complaint Category</label>
                        </div>
                        <div class="col-md-6">
                            @Html.DisplayFor(m => m.ComplaintCategoryName)
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="col-md-6">
                            <label>Complaint Sub Category</label>
                        </div>
                        <div class="col-md-6">
                            @Html.DisplayFor(m => m.Complaint_SubCategoryName)
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <div class="col-md-6">
                            <label>Province</label>
                        </div>
                        <div class="col-md-6">
                            @Html.DisplayFor(m => m.Province_Name)
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="col-md-6">
                            <label>District</label>
                        </div>
                        <div class="col-md-6">
                            @Html.DisplayFor(m => m.District_Name)
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="col-md-6">
                            <label>Town/Tehsil</label>
                        </div>
                        <div class="col-md-6">
                            @Html.DisplayFor(m => m.Tehsil_Name)
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="col-md-6">
                            <label>UC</label>
                        </div>
                        <div class="col-md-6">
                            @Html.DisplayFor(m => m.UnionCouncil_Name)
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <div class="col-md-6">
                            <label>Complete address</label>
                        </div>
                        <div class="col-md-6">

                            @Html.DisplayFor(m => m.Complaint_Address)
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <div class="col-md-6">
                            <label>Details of Complaint</label>
                        </div>
                        <div class="col-md-6">

                            @Html.DisplayFor(m => m.Complaint_Remarks)
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="col-md-6">
                            <label>Agent's comments </label>
                        </div>
                        <div class="col-md-6">
                            @Html.DisplayFor(m => m.Agent_Comments)
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="col-md-6">
                            <label>Current Status </label>
                        </div>
                        <div class="col-md-6">
                            @Html.DisplayFor(m => m.currentStatusStr)
                        </div>
                    </div>
                    @if (!string.IsNullOrEmpty(Model.currStatusCommentsStr))
                    {
                        <div class="form-group col-md-6">
                            <div class="col-md-6">
                                <label> Status Comments </label>
                            </div>
                            <div class="col-md-6">
                                @Html.DisplayFor(m => m.currStatusCommentsStr)
                            </div>
                        </div>
                    }
                    <div class="form-group col-md-6">
                        <div class="col-md-6">
                            <label>Follow up count</label>
                        </div>
                        <div class="col-md-6">

                            @Html.DisplayFor(m => m.followupCount)
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <div class="col-md-6">
                            <label>Follow up comments</label>
                        </div>
                        <div class="col-md-6">

                            @Html.DisplayFor(m => m.followupComment)
                        </div>
                    </div>

                    <br style="clear: both;" />

                </div>


            </div>
            @if (@Model.CanShowFollowUpView)
            {
                using (Html.BeginForm("OnFollowUp", "Complaint", FormMethod.Post, new { enctype = "multipart/form-data", id = "StatusChangeForm" }))
                {
                    @Html.HiddenFor(n => n.ComplaintId)
                    <div class="box box-primary" style="box-shadow: none;">
                        <div class="box-header-blue with-border btn-header">
                            <h4 class="modal-title">Follow Up</h4>

                        </div>
                        <div class="box-body-white" style="margin-top:5px;">
                            <div class="form-group col-md-6">
                                <div class="col-md-3">
                                    <label>Comments </label>
                                </div>
                                <div class="col-md-9">
                                    @Html.TextAreaFor(m => m.FollowupComments, new { @class = "form-control", @placeholder = "Follow up comments", @required = "required" })

                                </div>
                            </div>
                            <div class="form-group col-md-12 text-right">
                                <button type="submit" class="btn btn-primary" id="StatusChangeBtn"><span class="glyphicon glyphicon-edit"></span>&nbsp;Follow Up</button>
                            </div>
                            <br style="clear: both;" />
                        </div>
                    </div>
                }
            }



            @if (@Model.VmStatusChange.ListStatus != null && @Model.Compaign_Id == 83)
            {

                <div id="changeStatus" class="box box-primary" style="box-shadow: none;">
                    <div class="box-header-blue with-border btn-header">
                        <h4 class="modal-title">Change Status</h4>
                    </div>



                    <div class="box-body-white" style="margin-top: 5px;">
                        @*@using (Ajax.BeginForm("OnStatusChange", "Complaint", new AjaxOptions
                            {
                                HttpMethod = "POST",
                                //InsertionMode = InsertionMode.Replace,
                                //UpdateTargetId = "detail",
                                //LoadingElementId = "loading",
                                OnSuccess = "OnStatusChangeComplete(data);"
                            }, new { enctype = "multipart/form-data" }))*@
                        @using (Html.BeginForm("OnStatusChange", "Complaint", FormMethod.Post, new { enctype = "multipart/form-data", id = "StatusChangeForm" }))
                        {

                            @Html.HiddenFor(m => m.VmStatusChange.Compaign_Id)
                            @Html.HiddenFor(m => m.VmStatusChange.ComplaintId)
                            @Html.HiddenFor(m => m.VmStatusChange.Complaint_Category)
                            @Html.HiddenFor(m => m.VmStatusChange.Complaint_SubCategory)
                            <div class="form-group col-md-12">
                                <div class="form-group col-md-6">
                                    <div class="col-md-3">
                                        <label>Status </label>
                                    </div>
                                    <div class="col-md-9">
                                        @Html.DropDownListFor(m => m.VmStatusChange.statusID, Model.VmStatusChange.ListStatus, new { @Id = "statusList", @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <div class="col-md-3">
                                        <label>Comments </label>
                                    </div>
                                    <div class="col-md-9">
                                        @Html.TextAreaFor(m => m.VmStatusChange.statusChangeComments, new { @class = "form-control", @placeholder = "Comments" })
                                        <div id="commentRequired" style="display:none">
                                            <span>Comments is required.</span>
                                        </div>
                                        <div id="commentLength" style="display:none">
                                            <span>Minimum 100 characters are required to Resolve the complaint.</span>
                                        </div>
                                        <div id="commentMaxLength" style="display:none">
                                            <span>Maximum 1000 characters are allowed to Resolve the complaint.</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group col-md-12 text-right">

                                <button type="submit" class="btn btn-primary" id="FilterBtn" onclick="JavaScript: return OnStatusChangeSubmit();"><span class="glyphicon glyphicon-edit"></span>&nbsp;Change</button>

                            </div>
                            <div class="col-md-12 form-group">
                                <a class="btn btn-default btn-sm " role="button" data-toggle="collapse" href="#Filters4" aria-expanded="true" aria-controls="Filters4">
                                    <span class="fa fa-sliders"></span>Attach Files
                                </a>
                            </div>

                            <div id="one_file_required" style="display:none">
                                <span>At least one picture is mandatory to resolve the complaint.</span>
                            </div>

                            <div id="Filters4" class="collapsed collapsed in" area-expanded="true">
                                <div class="row">
                                    <div class="col-md-5 form-group">
                                        <div class="col-md-1">
                                            <label>1) </label>
                                        </div>
                                        <div class="col-md-10">
                                            <input class="form-control" type="file" name="FileUpload1" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-5 form-group">
                                        <div class="col-md-1">
                                            <label>2) </label>
                                        </div>
                                        <div class="col-md-10">
                                            <input class="form-control" type="file" name="FileUpload2" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-5 form-group">
                                        <div class="col-md-1">
                                            <label>3) </label>
                                        </div>
                                        <div class="col-md-10">
                                            <input class="form-control" type="file" name="FileUpload3" />
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-5 form-group">
                                        <div class="col-md-1">
                                            <label>4) </label>
                                        </div>
                                        <div class="col-md-10">
                                            <input class="form-control" type="file" name="FileUpload4" />
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-5 form-group">
                                        <div class="col-md-1">
                                            <label>5) </label>
                                        </div>
                                        <div class="col-md-10">
                                            <input class="form-control" type="file" name="FileUpload5" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }
                        <br style="clear: both;" />
                    </div>


                </div>

            }

            <div class="box box-primary" style="box-shadow:none;">
                <div class="box-header-blue with-border btn-header">
                    <h4 class="modal-title">Status History</h4>
                </div>
                @*@if (@Model.hasStatusHistory)
                    {*@
                <div class="box-body-white" style="margin-top: 5px;">
                    <a class="btn btn-default btn-sm margin_b" role="button" data-toggle="collapse" href="#Filters3" aria-expanded="true" aria-controls="Filters3">
                        <span class="fa fa-sliders"></span>Status History
                    </a>
                    <div id="Filters3" class="collapsed collapsed in" area-expanded="true">
                        <div class="">
                            <div>
                                <div id="DivStatusLogs" style="margin-top: 20px">
                                    <div class="" style="margin: 0 auto; width: 100%;">

                                        <table id="StatusHistoryTable" style="width: 100%;" class="table responsive table-hover table-striped table-bordered table-condensed margin_t">
                                            <thead>
                                                <tr style="background-color: #8b0000; color: #ffffff">
                                                    <th>User Name</th>
                                                    <th>User Hierarchy</th>
                                                    <th>Hierarchy Value</th>
                                                    <th>Status</th>
                                                    <th>Status Change Date</th>
                                                    <th>Comments</th>
                                                    <th>Active</th>
                                                    <th>Show Files</th>
                                                </tr>
                                            </thead>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br clear="all" />
                    <hr>
                </div>
                @*}
                    else
                    {
                        <div class="box-body-white" style="margin-top:5px;">
                            <div class=" margin_t15px">
                                <div class="form-group col-md-12">
                                    <label> No Status History Found </label>
                                </div>
                            </div>
                        </div>
                    }*@
            </div>
            <div class="box-footer">
                <div style="font-size: 12px;">Created by : <b>@Model.Created_By</b> &nbsp; <i>@Model.Created_DateTime.Value.ToString("dd-MMM-yyyy hh:mm:tt")</i></div>
            </div>

        </div>


        @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <div class="modal-header"><h4>Detail</h4></div>*@

    </div>

</div>
<script>
    $(document).ready(function () {
        debugger;
        //alert($('#ComplaintId').val());
        ReloadDataForStatusChange('#StatusHistoryTable');

        $('a[href="#Filters3"]').trigger("click");
        $('a[href="#Filters4"]').trigger("click");
    });
    function ReloadDataForStatusChange(divId) {
        $(divId).dataTable().fnDestroy();
        var table = $(divId).dataTable({
            "bSort": true,
            "ajax": "@Url.Action("GetComlaintsStatusChangeHistoryTable", "GeneralApi")?" + "complaintId=" + $('#ComplaintId').val(),
            "contentType": "application/json",
        "type": "GET",
        "bLengthChange": false,
        "columns": [
           { "data": "UserName" },
            { "data": "UserHierarchy" },
            { "data": "UserHierarchyValue" },
            { "data": "Status" },
            { "data": "StatusChangeDateTime" },
            { "data": "Comments" },
            { "data": "IsCurrentlyActive" }
            //{ "data": "Id" }
        ],
        "aoColumnDefs": [
            {
                "aTargets": [7],
                "bSearchable": false,
                "bSortable": false,
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    //alert('zeeshi');
                    $(nTd).css('text-align', 'center');
                },
                "mData": null,
                "mRender": function (data, type, full) {
                   // alert(data.id);
                    return '<td>' +
                        '<button type="submit" name="Show" value="' + data.Id + '" id="' + data.Id + '" class="btn btn-primary btn-sm" onclick="OpenStatusAttachments(this.id);">' +
                        '<span class="glyphicon glyphicon-eye-open"></span>&nbsp;&nbsp;View</b>&nbsp;&nbsp;&nbsp;&nbsp;</button>' +
                        '</td>';
                }
            }
        ]
    });
    }
    function OpenStatusAttachments(id) {
        $('#PopupDiv2').empty();
        $('#PopupDiv2').load("../Complaint/FileViewer?complaintId=" + $('#ComplaintId').val() + "&attachmentRefType=" +@Convert.ToInt32(Config.AttachmentReferenceType.ChangeStatus) +"&attachmentRefTypeId=" + id);
        $('#PopupDiv2').modal();
    }

</script>

